/*-------------- Colors --------------*/
$page-color: #deebaa;
$error-color: #df7021;

/*-------------- Sizes --------------*/
$h1-size: 48pt;
$h2-size: $h1-size * 0.75;
$h3-size: $h2-size * 0.75;
$h4-size: $h3-size * 0.75;
$h5-size: $h4-size * 0.75;
$h6-size: $h5-size * 0.75;
